@{
    ViewBag.Title = "Application Received";
}

<h1>Thank You for Applying for Boarding at UTECH</h1>
<h1>We will send out an email regarding you application</h1>

@Html.ActionLink("Return Home", "Index", "Home", null, new {@class = "btn btn-success"})
