@{
    ViewBag.Title = "About";
}
<h2>     Halls of Residence </h2>

<p>

   


    Welcome to the University of Technology, Jamaica (UTech, Ja.), and its Halls of Residence.<br />
    The objective of the Halls of Residence is to establish and maintain a holistic environment for living, learning and development that contributes to students' self-actualization and their ability to make a positive impact on the wider community.<br />
    There are 500 residential places at UTech, 271 for female students and 229 for male students. These residential places are provided through seven halls: Dennis Johnson, Farquharson, Garvey, and Halls, 'A', 'B', 'E' and 'F' which make up "The Lome Halls". A Resident Manager, who is a member of the University staff, manages each Hall, along with a Student Management Committee headed by a Resident Assistant.
    The Accommodation Officer has the overall administrative responsibility for the Halls of Residence.
      
    <br> 
    <br>
    <br>
   
</p>
      

<div class="col-xs-10">

    <img src="@Url.Content("~/Images/accom.jpg")" class="img-responsive">
        

            
</div>