
@{
    ViewBag.Title = "Garvey";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="body-content">
    <div class="col-md-6">


        <img src="~/Images/GarveyDes.png" style="width:100%;height:450px;" />
    </div>

    <div class="col-md-6">
        <br />
        <img src="~/Images/GarveyHistory.png" style="width:100%;height:430px;" />

    </div>

    <br />
    <br />
    <br />
    <p style="color:white;">Garvey Hall</p>

    <center><a href="/BoardingApplicationForm/Create"><button class="btn btn-primary" style="width: 200px;">Register</button></a></center>


</div>




