@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">


    <h1>
         
    </h1>
    <p class="lead">UTech Ja accomodation management system for Current and Potential Boarding Students can apply and review their rooms to be lived in on campus.  !!!!</p>
    <p>


        <img src="~/Images/1748084693_f99d6a8d-ffe9-4b9d-93d6-b1b72d7f95ce.png" />

    </p>
</div>
