@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">


    <h1>
        UHRMS 


    </h1>
    <p class="lead">UHRMS is UTech Ja accomodation management system for Current and Potential Boarding Students can apply and review their rooms to be lived in on campus.  !!!!</p>
    <p>



 



    </p>


    <p><a href="http://www.asp.net" class="btn btn-primary btn-lg"> Learn more &raquo;  </a></p>
</div>
