
@{
    ViewBag.Title = "Lome";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}


<div class="row">
    <img src="~/Images/LomeDes.png" style="width:100%; height:500px;" />
</div>
<div class="row">
    <div class="col-md-6">
        <img src="~/Images/Lomehis.png" style="width:100%; height:500px;" />
    </div>
    <div class="col-md-6">
        <img src="~/Images/Lomehis2.png" style="width:100%; height:500px;" />
    </div>
</div>

<div class="body-content">
    <center><a href="/BoardingApplicationForm/Create"><button class="btn btn-primary" style="width: 200px;">Register</button></a></center>
    <br />
    <br />
</div>